body {
    margin: 0;
    padding: 0;
    font-family: Audiowide;
    background-color: transparent;
}

header {
    text-align: center;
    box-shadow: 0px 0px 5px;
    background: linear-gradient(135deg, #2b0040, #6b1f7a, #ff9acb);
}

header img {
    height: 100px;
    width: 200px;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(248, 150, 227);
    padding: 5px 15px;
    font-size: 16px;
    font-family: Audiowide;
}

/* hover must be its own rule */
nav a:hover {
    color: rgb(202, 172, 202);
}

.ability img {
    width: 30px;
    height: 30px;
}